<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chargen | Script Wizards</title>
    <style>
      html {
        display: table;
        margin: auto;
      }
      body {
        display: table-cell;
        color: #ece3d0;
        background-color: #212121;
        max-width: 7in;
        margin: 0 auto;
        font-family: monospace;
      }
      @media print {
        body {
          color: #000000;
          background-color: #ffffff;
        }
      }
    </style>
  </head>
  <pre>
┌─NAME───────────────────────────────┬─PLAYER─────────────────────────────┐
│                                    │                                    │
├────────────────────────────────────┼─AC───────────────┬─HP─────┬─MAX────┤
│ Class         Level 1 Halfling     │                  │        │        │
│ Title         Halfling Veteran     │                  │        │        │
│ Alignment     Neutral              │                  │        │        │
├─ABILITY SCORES─────────────────────┴──────────────────┴────────┴────────┤
│ STR    15  +1    THAC0 (Melee), damage (melee, thrown), open doors      │
│ INT    11  +0    Languages, literate                                    │
│ WIS    18  +3    Saves vs magic                                         │
│ DEX    13  +1    AC, THAC0 (missile/thrown)                             │
│ CON     7  -1    Hit points                                             │
│ CHA    12   —    +0 reaction, 4 max retainers, morale 7                 │
├─COMBAT──────────────────┬─SAVING THROWS───────────┬─MOVEMENT────────────┤
│ Hit Points (1d8)      8 │ Death/Poison          8 │ OV        24 mi/day │
│ Armor Class           3 │ Wands                 9 │ EX      120 ft/turn │
│ Melee hit/dmg        +1 │ Paralyze/Petrify     10 │ EN      40 ft/round │
│ Missile hit          +1 │ Breath Attacks       13 │ Doors           3/6 │
│ Initiative           +1 │ Spells/Rods/Staves   12 │                     │
├─THAC0───────────────────┴──────────┬─EXPERIENCE───┴─────────────────────┤
│ AC    9  8  7  6  5  4  3  2  1  0 │                               +10% │
│ d20  10 11 12 13 14 15 16 17 18 19 │                              /2000 │
└─INVENTORY──────────────────────────┴────────────────────────────────────┘

  Torches x 6 □ □ □ □ □ □
  Iron rations x 7 □ □ □ □ □ □ □
  Backpack
  Tinder box
  Waterskin
  Chainmail (AC 5)
  Shield (+1 AC)
  Mace - 1d6, blunt, melee
  Pole arm - 1d10, brace, melee, slow, 2H
  Holy water
  Small sack

──NOTES────────────────────────────────────────────────────────────────────

  Halflings are very accurate with all missile weapons and gain a bonus of
  +1, in addition to Dexterity adjustments, on their to-hit rolls when
  using them.
  Due to their small size and skills at dodging, halflings have a bonus of
  -2 on their armor class when being attacked by creatures larger than
  man-sized.
  When rolling for individual initiative (an optional rule) halflings add
  +1, in addition to any dexterity adjustments.
  Outdoors, halflings are difficult to spot, having the ability to vanish
  into woods or underbrush. Halflings have only a 10% chance of being
  detected in this type of cover, and even in dungeons there is a one-third
  chance (a roll of 1 or 2 on 1d6) that a halfling will not be seen in
  normal light if the character finds some cover (such as shadows), and
  remains absolutely quiet and still.

────────────────────────────────────────────────────────────────────────────
Copyright © 2023 Script Wizards — scriptwizards.org
    </pre
  >
</html>
